<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>

	<appSettings>
    <add key="SQLConfigFilePath" value="F:\Ingenieria de software\Flowmaster\DataAccess\configSQL.json"/>
    </appSettings>

</configuration>